@inject ASP_MVC.Services.PlanetService planetService

@{
    ViewData["Title"] = "Cac hanh tinh trong mat troi";
}
<h2>Cac hanh tinh trong he mat troi</h2>
<div class="list-group">
@foreach (var planet in planetService )
{
    <a class="list-group-item list-group-item-action" asp-controller="Planet" asp-action="@planet.Name">@planet.VnName - @planet.Name</a>
}
</div>
