@{
    ViewData["Title"] = "aHome Page";
}

<div class="text-center">
    <h1 class="display-4">XINs CHAO</h1>
    <partial name="_AlertMessage"></partial>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
