@{
    ViewData["Title"] = "Xoa db";
}

<h1>Xoa db</h1>

<p class="alert alert-danger">Ban co muon chac chan xoa</p>

<form method="post">
    <button class="btn btn-danger">Delete</button>
    <hr />
    <a asp-action="Index">Quan ly db</a>
</form>